.popup {
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed!important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    overflow: auto;
    backdrop-filter: blur(10px);
}
.popup .popup-child {
    max-width: max-content;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translate3d(0,-50%,0);
    background-color: white;
}

/* Customized for delivery-pickup form*/
.popup.delivery-pickup .popup-child{
    top: 120px;
    transform: unset;
}

@media screen and (max-width: 400px) {
    .popup.delivery-pickup {
        background-color: transparent;
        z-index: 99;
    }
    .popup.delivery-pickup .popup-child {
        top: 85px;
        max-width: 100%;
        height: calc(100% - 135px);
        overflow: auto;
    }
}