h3, h4, h5 {
    color: #333333;
}

.home-page .db-add-btn {
    position: relative;
    margin-bottom: 1rem;
}

.home-page .db-add-btn > img:first-child{
    width: 10rem;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.home-page .db-add-btn > img:last-child {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
}

.home-page .main-db-block .db-popup {
    width: 80%;
    max-width: none;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.4);
}

.home-page .db-popup .add-ds-btn {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: 1rem;
}

.home-page .ds-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.home-page .ds-unit .ds-unit-icon {
    width: 4rem;
}

.home-page .add-chart-popup {
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.4);
    width: 30rem;
    padding: 1rem;
}

.home-page .add-relation-popup {
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.4);
    width: 30rem;
    padding: 1rem;
    max-width: unset;
    max-height: 80%;
    overflow: auto;
}

.home-page .generated-chart-popup {
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.4);
    width: 30rem;
    padding: 1rem;
    max-width: unset;
    max-height: 80%;
    overflow: auto;
}