.table-list-block {
    flex: 1;
    padding: 0.5rem;
    overflow: auto;
}

.table-list-block .table-name {
    cursor: pointer;
}

.table-block {
    position: relative;    
}

.table-columns {
    display: none;
    position: absolute;
    top: 100%;
    padding: 0.5rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: max-content;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.4);
}

.table-block:hover > .table-columns {
    display: block;
} 