.db-list-block {
    display: flex;
}
.db-list-block .db-list-column {
    padding: 0.5rem;
    border-right: 1px solid #1557ff;
    width: max-content;
}
.db-list-block .db-name {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}